<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{{ standings.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'standings.css' %}">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
    <script>
        var standings_label = "{{ standings.label }}";
        var contest_id = {{ contest_id }};
        var is_olymp = {% if standings.type == "OLP" %}true{% else %}false{% endif %};
        var is_penalty = {% if standings.enable_penalty %}true{% else %}false{% endif %};
        var is_scoring = {% if standings.enable_scoring %}true{% else %}false{% endif %};
        newAddProblemHeaderCell = {% if standings.prob_js and standings.enable_scoring %}{{ standings.prob_js|safe }}{% else %}null{% endif %};
        newAddTotalMarkCell =  {% if standings.total_mark_js and standings.enable_scoring %}{{ standings.total_mark_js|safe }}{% else %}null{% endif %};
        newAddContestMarkCell = {% if standings.contest_mark_js and standings.enable_scoring %}{{ standings.contest_mark_js|safe }}{% else %}null{% endif %};
    </script>
    <script src="{% static 'standings.js' %}"></script>
    {% autoescape off %}
    <base href="/standings/{{ standings.label }}/" />
    {% endautoescape %}
</head>

<body>

<table id="standings_fixed"></table>
<div class="wrapper">
    <table id="standings"></table>
</div>

</body>
</html>

